@font-face {
  font-family: "Lexend Deca";
  src: url("../assets/fonts/LexendDeca-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("../assets/fonts/LexendDeca-SemiBold.woff2") format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

