
.form-field {
  position: relative;
  width: 100%;

  &__input {
    width: fluid(422, 331);
    height: 40px;
    padding-inline: 24px;
    border: var(--color-accent-purple) 1px solid;
    border-radius: 15px;

    &:focus,
    &:not(:placeholder-shown) {
      outline: none;

      & + .form-field__label {
        top: -3px;
        font-size: 12px;
        transform: translateY(-50%);
        background: white;
        padding: 0 5px;
        left: 15px;
      }
    }

    &:invalid {
      border-color: red;
    }
  }

  &__label {
    position: absolute;
    left: 24px;
    top: 50%;
    translate: 0% -50%;
    transition-duration: 0.2s;
  }


}